@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: Raleway;
    color: #777;
}
html, body {
    margin: 0px;
    padding: 0px;
    background-color: #EEEDEB;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, .3);
}

.nav ul li a {
    border-bottom: 2px solid transparent; /* Start with transparent underline */
    transition: border-color 0.3s; /* Smooth transition for underline */
}


.nav ul li a:hover, nav ul li a.active, nav ul li a:active {
    border-bottom-color: black; /* Add underline to the active link */
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    margin-top: 10px;
}

.main-nav li {
    padding: 0 2%;
}

.main-header {
    background-color: #E0CCBE;
    padding-top: 25px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(96, 96, 96, 0.4);
}

.artist-name {
    text-align: center;
    margin: 0;
    font-size: 4em;
    color: #333;
    font-weight: 800;
}

.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section-header {
    color: #333;
    text-align: center;
    font-size: 2.5em;
    font-weight: 650;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.about-artist-image {
    float: left;
    height: 200px;
    width: 200px;
    margin: 15px;
    border-radius: 50%;
}

.main-footer {
    background-color: #E0CCBE;
    margin-top: 50px;
    border-top: 2px solid rgba(96, 96, 96, 0.2);
    color: white;
    padding: .1em 0;
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav {
    padding: 0 .5em;
}

.footer-nav li {
    padding: 0 .1%;
}

.footer-nav img {
    height: 30px;
    width: 30px;
}

.artist-name-footer {
    font-size: 3.2em;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .68em;
    cursor: pointer;
}

.btn-header {
    margin: .5em 15% 2em 15%;
    color: #333;
    border: 2px solid #333;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: 300;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header:hover {
    background-color: rgba(255, 255, 255, .3);
}

.play {
    text-decoration: none;
}

.btn-play {
    display: block;
    margin: 15px auto 0 auto;
    padding: 0;
    color: #333;
    font-size: 4em;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.tour-row {
    border-bottom: 1px solid #333;
    padding-bottom: 1em;
    margin: 1em;
}

.tour-row:last-child {
    border-bottom: none;
}

.tour-item {
    display: inline-block;
    padding-right: .5em;
}

.tour-date {
    color: #555;
    font-weight: bold;
    width: 16%;
}

.tour-city {
    width: 22%;
}

.tour-arena {
    width: 38%;
}

.tour-btn {
    max-width: 19%;
}

.btn-primary {
    color: white;
    background-color: #ffca5b;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #f6ba3a;
}

.shop-item {
    margin: 30px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.4em;
    color: #333;
    margin-bottom: 15px;
}

.shop-item-image {
    height: 300px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.shop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header {
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin-right: 1.5em;
    margin-bottom: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #ff5b5b;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #f63a3a;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #FFCA5B;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
    padding-bottom: 0;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    font-size: 1.2em;
    color: #333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn-purchase {
    display: block;
    font-size: 1.2em;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}